<div class="row" id="nav">
        <nav>
            <ul>
                <li><a href="index.php"><p>MOOGLE</p></a></li>
                <!-- <li><a href="#"><p>Specs</p></a>
                    <ul class="subNav">
                        <li><a href="#"><p>Grid</p></a></li>
                        <li><a href="#"><p>Fonts</p></a></li>
                        <li><a href="#"><p>Elements</p></a></li>
                        <li><a href="#"><p>Transitions</p></a></li>
                    </ul>
                </li>
                <li><a href="samples.html"><p>Samples</p></a></li> -->
                <li><a href="email_us.html"><p>Email Us</p></a></li>
                <!-- <li><a href="https://github.com/AFigueroa/Templar"><p>Git Repo</p></a></li> -->
            </ul>
        </nav>
</div>